.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    max-height: 1080px;
    padding: 0 24px;
    margin: 24px 0px;
}

.container img{
    width: 300px;
}

.container a{
    display: flex;
    justify-content: center;
    align-items: end;
}

.container a p{
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
}